body { margin: 0; }


div.screen { height: 600px; width: 100%; outline: 1px solid #000000; padding: 10px; margin: 10px 10px; }
h4.error { outline: 1px solid #ff0000; }
.msg-success { outline: 1px solid #43dd00; width: 100%; }
.default { display: none; }
.error { color: red; font-weight: 900; 
}
@media screen and (min-width: 921px) {
    div.screen { height: 100%; width: 960px; outline: 1px solid #f8f9fa!important; padding: 10px; margin: 10px auto; }
}



@media screen and (min-width: 700px) and (max-width: 920px) {
    div.screen { height: 100%; width: 92%; outline: 1px solid #f8f9fa!important; padding: 10px; margin: 10px auto; }
}


@media screen and (max-width: 699px) and (min-width: 520px) {
    div.screen { text-align: center; height: 100%; width: 100%; outline: 1px solid #000000; padding: 10px; margin: 10px 0px; }
    div.screen > div.row > div.col-md-6 { outline: 1px solid #f8f9fa!important; margin-top: 20px; }
}

@media screen and (max-width: 519px) {
    div.screen { text-align: center; height: 860px; width: 100%; outline: 1px solid #000000; padding: 10px; margin: 10px 0px; }
    div.screen > div.row > div.col-md-6 { outline: 1px solid #f8f9fa!important; margin-top: 20px; }
}